* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-cl: rgb(80, 118, 49);
    --secondary-cl: rgb(148, 198, 107);
    --accent-cl: rgb(87, 49, 118);
}


.logo {
    filter: invert(60%) sepia(91%) saturate(1748%) hue-rotate(163deg) brightness(88%) contrast(89%);
    filter: invert(39%) sepia(8%) saturate(1691%) hue-rotate(50deg) brightness(98%) contrast(91%);
    filter: invert(43%) sepia(26%) saturate(850%) hue-rotate(50deg) brightness(89%) contrast(92%);
}

.our_mission {
    padding: 2em;
}

h1,
h2,
h3,
h4 {
    color: var(--accent-cl);
}

.button {
    background-color: var(--primary-cl);
}


@media screen and (min-width: 768px) {
    .title {
        display: flex;
        align-items: center;
    }

    .our_mission {
        padding: 0;
    }
}
/* to hide non active questions */
.question:not(.active) {
    display: none;
}